<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.management.mapper.GameRunRecordMapper">
	<resultMap id="BaseResultMap" type="com.management.model.GameRunRecord">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="account" property="account" />
		<result column="device_mac" property="deviceMac" />
		<result column="device_code" property="deviceCode" />
		<result column="device_name" property="deviceName" />
		<result column="game_code" property="gameCode" />
		<result column="game_name" property="gameName" />
		<result column="game_process" property="gameProcess" />
		<result column="report_time" property="reportTime" />
		<result column="run_count" property="runCount" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>

	<resultMap type="com.management.model.vo.DeviceReportVO" id="deviceReportResultMap"
		extends="BaseResultMap">
	</resultMap>
	
	<resultMap type="com.management.model.vo.GameVO" id="GameVOResultMap">
		<result column="game_code" property="gameCode" />
		<result column="run_count" property="runCount" />
	</resultMap>
	
	<resultMap type="com.management.model.vo.SiteSaleVO" id="SitetGameSalesMap" >
		<result column="sales_amount" property="salesAmount" />
		<result column="report_time" property="reportTime" />
		<result column="account" property="account" />
		<result column="site_name" property="siteName" />
		<result column="bill_amount" property="billAmount" />
		<result column="user_id" property="userId" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, account, device_mac, device_code, device_name,
		game_code, game_name,game_process
		,report_time,run_count,create_time,update_time
	</sql>


	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from game_run_record
		where id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		game_run_record
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.management.model.GameRunRecord">
		insert into game_run_record (
		account, device_mac, device_code, device_name, game_code,
		game_name,game_process,report_time,run_count,create_time,update_time
		)
		values
		(#{account},#{deviceMac},#{deviceCode},#{deviceName},#{gameCode}
		,#{gameName},#{gameProcess},#{reportTime},#{runCount},#{createTime}
		,#{updateTime}
		)
	</insert>

	<update id="updateRunCountUnique" parameterType="com.management.model.GameRunRecord">
		update
		game_run_record
		set run_count = #{runCount},
		update_time = now()
		where
		DATE(report_time) = DATE(#{reportTime})
		and account = #{account}
		and
		device_mac = #{deviceMac} and device_code = #{deviceCode} and
		game_process = #{gameProcess}
	</update>


	<select id="selectUniqueRecordByDateAndGame" resultMap="BaseResultMap"
		parameterType="com.management.model.GameRunRecord">
		select
		<include refid="Base_Column_List" />
		from game_run_record
		where
		DATE(report_time) = DATE(#{reportTime})
		and
		account = #{account}
		and device_mac = #{deviceMac} and device_code =
		#{deviceCode} and game_process = #{gameProcess}
		order by id limit 1
	</select>


	<select id="findDeviceReports" resultMap="deviceReportResultMap"
		parameterType="com.management.model.vo.DeviceReportVO">
		SELECT
		account,
		device_code,
		device_mac,
		report_time,
		game_code,
		game_process,
		SUM(run_count) run_count
		FROM
		game_run_record
		WHERE 1=1
		<if test="record.account !=null and record.account !='' ">
			and account = trim(#{record.account})
		</if>
		<if test="record.deviceCode !=null and record.deviceCode !='' ">
			and device_code = trim(#{record.deviceCode})
		</if>

		<if test="record.deviceMac !=null and record.deviceMac !='' ">
			and device_mac = trim(#{record.deviceMac})
		</if>

		<if test="record.gameCode !=null and record.gameCode !='' ">
			and game_code = trim(#{record.gameCode})
		</if>

		<if test="record.gameProcess !=null and record.gameProcess !='' ">
			and game_process = trim(#{record.gameProcess})
		</if>
		GROUP BY
		account,
		device_code,
		device_mac,
		game_code,
		game_process,
		report_time order by report_time desc,run_count desc
	</select>



	<select id="findDeviceReportsDetailsByDateAndUniqueGame"
		resultMap="deviceReportResultMap" parameterType="com.management.model.vo.DeviceReportVO">
		SELECT
		*
		FROM
		game_run_record
		WHERE 1=1
		<if test="record.deviceCode !=null and record.deviceCode !='' ">
			and device_code = trim(#{record.deviceCode})
		</if>

		<if test="record.deviceMac !=null and record.deviceMac !='' ">
			and device_mac = trim(#{record.deviceMac})
		</if>

		<if test="record.gameCode !=null and record.gameCode !='' ">
			and game_code = trim(#{record.gameCode})
		</if>

		<if test="record.gameProcess !=null and record.gameProcess !='' ">
			and game_process = trim(#{record.gameProcess})
		</if>

		<if test="record.reportTime !=null  ">
			and TO_DAYS(report_time) = TO_DAYS(#{record.reportTime})
		</if>
	</select>

	<select id="getDeviceGamesRunCount" resultMap="BaseResultMap" >
		SELECT
			game_code,
			SUM(run_count) run_count
		FROM
			game_run_record
		WHERE
			device_code = #{deviceCode}
		GROUP BY game_code
	</select>
	
	<select id="getSiteDeviceGamesRunCountByAccount" resultMap="BaseResultMap" >
		SELECT
			account,
			game_code,
			SUM(run_count) run_count
		FROM
			game_run_record
		WHERE
			account = #{account}
		GROUP BY account,game_code
	</select>
	
	
	<select id="getDeviceGamesRunCountByPage" resultMap="GameVOResultMap"  parameterType="com.management.model.vo.GameVO">
		SELECT
			game_code,
			SUM(run_count) run_count
		FROM
			game_run_record
		WHERE
			device_code = #{record.deviceCode}
		<if test="record.gameName !=null and record.gameName !='' ">
			and game_name = trim(#{record.gameName})
		</if>

		<if test="record.gameCode !=null and record.gameCode !='' ">
			and game_code = trim(#{record.gameCode})
		</if>
		GROUP BY game_code
		order by run_count desc
	</select>
	
	
	<select id="getSitetGameSalesAmountByAccountAndReportDate" resultMap="SitetGameSalesMap" >
		SELECT * FROM (
			SELECT  sales.account,site.site_name, sales.report_time,SUM(sales_amount) sales_amount,users.id user_id FROM  
			(
					SELECT gr.*,IFNULL(game.default_price,0) default_price , 
								(IFNULL(game.default_price,0) *gr.run_count) sales_amount  
					FROM 
					(
							SELECT
								account,
								device_code,
								game_code,
								report_time,
								SUM(run_count) run_count
							FROM
								game_run_record
							GROUP BY account,game_code 
					) gr LEFT JOIN game ON game.game_code = gr.game_code 
			) sales 
			  LEFT JOIN users ON users.account = sales.account 
			  LEFT JOIN site ON site.user_id = users.id
			  GROUP BY sales.account ,sales.report_time
			 ) t_result 
		WHERE 1=1 
		<if test="record.siteName !=null and record.siteName !='' ">
			and  t_result.site_name  = trim(#{record.siteName})
		</if>
		<if test="record.queryDate !=null and record.queryDate !='' ">
			and  t_result.report_time  = trim(#{record.queryDate})
		</if>
	</select>



	<select id="getSiteSalesAmountByAccountAndDate" resultMap="SitetGameSalesMap" >
		SELECT * FROM (
			SELECT  sales.account,site.site_name, sales.report_time,SUM(sales_amount) sales_amount,users.id user_id FROM  
			(
					SELECT gr.*,IFNULL(game.default_price,0) default_price , 
								(IFNULL(game.default_price,0) *gr.run_count) sales_amount  
					FROM 
					(
							SELECT
								account,
								device_code,
								game_code,
								report_time,
								SUM(run_count) run_count
							FROM
								game_run_record
							GROUP BY account,game_code 
					) gr LEFT JOIN game ON game.game_code = gr.game_code 
			) sales 
			  LEFT JOIN users ON users.account = sales.account 
			  LEFT JOIN site ON site.user_id = users.id
			  GROUP BY sales.account ,sales.report_time
			 ) t_result 
		WHERE  t_result.report_time  = trim(#{date})
	</select>


</mapper>