<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.management.mapper.SiteMapper">
	<resultMap id="BaseResultMap" type="com.management.model.Site">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="parent_id" property="parentId" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="site_name" property="siteName" jdbcType="VARCHAR" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="county" property="county" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="site_level" property="siteLevel" jdbcType="VARCHAR" />
		<result column="site_code" property="siteCode" jdbcType="VARCHAR" />
		<result column="shareholders_id" property="shareholdersId" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<resultMap id="voResultMap" type="com.management.model.vo.SiteVO" extends ="BaseResultMap" >
		<result column="account" property="account" jdbcType="VARCHAR" />
	</resultMap>
	
	
	<select id="getBySiteByAccountAndSiteName" resultMap="voResultMap"
		parameterType="com.management.model.vo.DeviceVO">
		select
			users.account,
			site.*
		from site left join users on site.user_id = users.id
		where  1=1 
		<if test="record.account !=null and record.account !='' ">
			and users.account = #{record.account}
		</if>
		
		<if test="record.siteName != null and record.siteName != '' ">
			and site_name  = #{record.siteName}
		</if>
		
	</select>
	
	<sql id="Base_Column_List">
		id, parent_id, user_id, site_name, province, city, county,remark,site_code,site_level,
		shareholders_id,create_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from site
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="selectBySiteByAccount" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
			site.*
		from site left join users on site.user_id = users.id
		where users.account = #{account}
		limit 1
	</select>
	
	<select id="selectByUserId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from site
		where user_id = #{userId,jdbcType=INTEGER}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from site
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.management.model.Site" useGeneratedKeys="true" keyProperty="id">
		insert into site (parent_id, user_id,
		site_name, province, city,county,remark,site_level,shareholders_id,
		site_code, create_time)
		values (
		#{parentId},
		#{userId},
		#{siteName}, #{province}, #{city},
		#{county},#{remark},#{siteLevel},#{shareholdersId},
		#{siteCode}, #{createTime})
	</insert>
	<insert id="insertSelective" parameterType="com.management.model.Site" useGeneratedKeys="true" keyProperty="id">
		insert into site
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="siteName != null">
				site_name,
			</if>
			<if test="province != null">
				province,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="county != null">
				county,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="siteLevel != null">
				site_level,
			</if>
			
			<if test="shareholdersId != null">
				shareholders_id,
			</if>
			<if test="siteCode != null">
				site_code,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="siteName != null">
				#{siteName,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				#{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="county != null">
				#{county,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="siteLevel != null">
				#{siteLevel,jdbcType=VARCHAR},
			</if>
			<if test="shareholdersId != null">
				#{shareholdersId},
			</if>
			
			<if test="siteCode != null">
				#{siteCode,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.management.model.Site">
		update site
		<set>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="siteName != null">
				site_name = #{siteName,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				province = #{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="county != null">
				county = #{county,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="siteLevel != null">
				site_level = #{siteLevel,jdbcType=VARCHAR},
			</if>
			<if test="siteCode != null">
				site_code = #{siteCode,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.management.model.Site">
		update site
		set parent_id = #{parentId,jdbcType=INTEGER},
		user_id = #{userId,jdbcType=INTEGER},
		site_name = #{siteName,jdbcType=VARCHAR},
		province = #{province,jdbcType=VARCHAR},
		city = #{city,jdbcType=VARCHAR},
		county = #{county,jdbcType=VARCHAR},
		remark = #{remark,jdbcType=VARCHAR},
		site_level = #{siteLevel,jdbcType=VARCHAR},
		site_code = #{siteCode,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	
	<select id="findSites" resultMap="voResultMap"
		parameterType="com.management.model.vo.SiteVO">
		select
		users.account,
		site.*
		from site left join users on site.user_id = users.id
		where users.user_type = 'site'
		<if test="site.account!=null and site.account!='' ">
			and users.account like  CONCAT('%',trim(#{users.account}),'%')
		</if>
		<if test="site.siteName !=null  and site.siteName!='' ">
			and site.site_name like  CONCAT('%',trim(#{sile.siteName}),'%')
		</if>
		<if test="site.province !=null  and site.province!='' ">
			and site.province =  trim(#{site.province})
		</if>
		<if test="site.city !=null  and site.city!='' ">
			and site.city =  trim(#{site.city})
		</if>
		<if test="site.county != null and site.county!='' ">
			and site.county =  trim(#{site.county})
		</if>
		ORDER BY ID DESC
	</select>
	
</mapper>